#page footer {
    &.has-content {
        position: sticky;
        bottom: 0;
        left: 0;
        background-color: #fff;
        & .right {
            flex-grow: 0;
            & .manage-story {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }
        }
        & .left {
            flex-grow: 0;
            & div {
                height: 100%;
            }
            & .nav {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: space-around;
                & a {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    div#page > article {
        padding-bottom: 7em;
    }
    #page footer.has-content {
        position: fixed;
        width: 100%;
    }
}
