:root {
    --color-dark: #1c110a;
    --color-light: #f1f4fd;
    --color-highlight: #f9d45c;
    --color-accent: #67deb2;
    --color-altaccent: #acd4f1;
    --border: 2px solid var(--color-dark);
    --success-light: #b1eec7;
    --success-dark: #215635;
    --error-light: #ebc1ca;
    --error-dark: #a4203c;
    --info-light: #cee8f8;
    --info-dark: #175881;
    --warning-light: #f8f3ce;
    --warning-light: #ca7702;

    --box-shadow: 0 2px .7em rgba(0,0,0,.1)
}